@page
@model Web.Pages.MyStacks.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Stack</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stack.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stack.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stack.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stack.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stack.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stack.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stack.LastModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stack.LastModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stack.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stack.User.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Stack.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
