@page
@model Web.Pages.MyStacks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stack</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stack.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stack.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stack.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stack.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stack.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stack.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stack.LastModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stack.LastModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stack.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stack.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Stack?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
