@page
@model Web.Pages.MyStacks.IndexModel

@{
    ViewData["Title"] = "My Stacks";
}

<h1>My Stacks</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New Stack</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stack[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stack[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stack[0].CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stack[0].LastModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stack in Model.Stack)
        {
            <tr>
                <td>
                    <a asp-page="./Stack" asp-route-id="@stack.Id">@Html.DisplayFor(modelItem => stack.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => stack.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => stack.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => stack.LastModifiedDate)
                </td>
                <td>
                    <a asp-page="./Stack" asp-route-id="@stack.Id">Go To Stack</a> |
                    <a asp-page="./Edit" asp-route-id="@stack.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@stack.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@stack.Id">Delete</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
