@page
@model Web.Pages.MyStacks.StackModel
@{
    ViewData["Title"] = "Stack";
}

<h1>@Model.Stack.Name</h1>
<p>@Model.Stack.Description</p>
<div class="btn-group">
    <a asp-page="./Edit" asp-route-id="@Model.Stack.Id" class="btn btn-info">Edit</a><a asp-page="./Delete" asp-route-id="@Model.Stack.Id" class="btn btn-danger">Delete</a>
</div>
<hr />
<h2>Start Study Session</h2>
<div class="btn-group">


    <a class="btn btn-success" asp-route-order="orderly" asp-route-stackId="@Model.Stack.Id" asp-page="./StudySession">Start study session in order</a><a class="btn btn-warning" asp-route-order="randomly" asp-page="./StudySession" asp-route-stackId="@Model.Stack.Id">Start random order study session</a>
</div>
<hr />
<h2>Add FlashCard</h2>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <table class="table  bg-light">
        <thead class="text-center">
            <tr>
                <th class="align-top" width="10%">
                    <label>Card#</label>
                    <input asp-for="NewFlashCard.Order" class="form-control" />
                    <small class="form-text text-muted">Leave blank to add at end</small>
                </th>
                <th>
                    <div class="card border-primary mb-3">
                        <div class="card-header border-0">Front</div>
                        <div class="card-body">
                            <textarea asp-for="NewFlashCard.Front" class="form-control border-0"></textarea>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="card border-primary mb-3">
                        <div class="card-header border-0">Back</div>
                        <div class="card-body">
                            <textarea asp-for="NewFlashCard.Back" class="form-control border-0"></textarea>
                        </div>
                    </div>
                </th>
                <th class="align-middle">
                    <button type="submit" class="btn btn-success ">Create</button>
                </th>
            </tr>
        </thead>
    </table>
</form>

<hr />
<div class="table-responsive">
    <table class="table  bg-light table-hover">
        <thead class="text-center">
            <tr>
                <th>Card#</th>
                <th>Front</th>
                <th>Back</th>
                <th>Average Score</th>
                <th>Times Studied</th>
                <th>Edit/Delete/Stats</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @for (int i = 0; i < Model.Stack.FlashCards.Count; i++)
            {
                <tr>
                    <td class="text-center align-middle">@Model.FlashCards[i].Order</td>
                    <td>@await Html.PartialAsync("_FlashCard",  @Model.FlashCards[i].Front)</td>
                    <td>@await Html.PartialAsync("_FlashCard", @Model.FlashCards[i].Back)</td>
                    <td>@Model.FlashCardsAverageScores[i]%</td>
                    <td>@Model.FlashCardAmountStudied[i]</td>
                    <td class="align-middle">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="btn-group align-items-center" role="group">
                                <a asp-page="/MyStacks/FlashCards/Edit" asp-route-id="@Model.FlashCards[i].Id" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a asp-page="/MyStacks/FlashCards/Delete" asp-route-id="@Model.FlashCards[i].Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                                <a asp-page="/MyStacks/FlashCards/Details" asp-route-id="@Model.FlashCards[i].Id" class="btn btn-warning mx-2">
                                    <i class="bi bi-lightbulb"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />
<h2>Performance History</h2>
@await Html.PartialAsync("_Graph", Tuple.Create((List<string>)ViewData["Dates"], (List<double>)ViewData["Scores"], Model.Stack.Name, "line"))




