@page
@model Web.Pages.MyStacks.StudySessionModel
@{
    ViewData["Title"] = "Study Session";
}

<h1>Study Session for @Model.Stack.Name</h1>

    @await Html.PartialAsync("_FlashCard", @Model.CurrentFlashCard.Front)

<a class="btn btn-danger" id="wrong" asp-page="./StudySession" asp-route-studySessionId="@Model.StudySession.Id" asp-route-turn="@Model.Turn" asp-route-score="0" asp-route-stackId="@Model.Stack.Id"><i class="bi bi-arrow-left"></i>Wrong</a>
<a class="btn btn-info" id="showAnswer">Show Answer</a>
<a class="btn btn-success" id="right" asp-page="./StudySession" asp-route-studySessionId="@Model.StudySession.Id" asp-route-turn="@Model.Turn" asp-route-score="1" asp-route-stackId="@Model.Stack.Id">Right<i class="bi bi-arrow-right"></i></a>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@(((double)Model.Turn/Model.StudySession.Turns)*100)" aria-valuemin="0" aria-valuemax="100" style="width:@(((double)Model.Turn/Model.StudySession.Turns)*100)%;"></div>
</div>
@section Scripts {
    <script src="~/js/studySession.js"></script>
}